

<%= form_for(@user, :url =>change_user_password_path(current_user.id),html:{ class: "form-signin"}) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<%end%>
<%= form.password_field :old_password,class: "form-control",required:true, placeholder:"Old Password" %>
<%= form.password_field :password,class: "form-control",required:true, placeholder:"New Password" %>
<%= form.password_field :password_confirmation,class: "form-control",required:true, placeholder:"Confirm Password" %>
<%= form.submit 'update',:class=>"btn btn-lg btn-primary btn-block btn-signin" %>

<%end%>
